# Visual Studio Code
.vscode/
*.vscode

# Paketler
*.dll
*.exe
*.pdb
*.suo
*.cache
*.log
bin/
obj/
node_modules/
logs/

# Local database file
*.mdf
*.ldf

# Mac OS
.DS_Store

# Visual Studio
.vs/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.ide
*.ipch
*.obj
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.exp
*.dbmdl
*.aps
*.pch
*.res
*.idb
*.pdb
*.ipdb
*.obj
*.manifest
*.vc.db
*.log
*.sqlite3
*.sqlite
*.suo
*.user
*.userosscache
*.sln.docstates
*.suo
*.user
*.suo
*.gpState
